<div class="splash" [class.splash--hiding]="hiding()">
  <div class="splash__logo">
    <svg viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="d1" d="M 44,59 68,83 44,107 20,83 Z"       fill="#2dd4bf"/>
      <path class="d2" d="M 96,59 120,83 96,107 72,83 Z"       fill="#2dd4bf"/>
      <path class="d3" d="M 148,59 172,83 148,107 124,83 Z"    fill="#2dd4bf"/>
      <path class="d4" d="M 70,85 94,109 70,133 46,109 Z"      fill="#2dd4bf"/>
      <path class="d5" d="M 122,85 146,109 122,133 98,109 Z"   fill="#2dd4bf"/>
    </svg>
  </div>
  <span class="splash__name">walker</span>
</div>
